/*© Lynx1858, 2026. Все права защищены.
Запрещено копирование, распространение и использование
без письменного разрешения автора.*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(220, 241, 243);
    color: rgb(0, 0, 0);
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #95b6be;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(208, 232, 243);
    padding: 10px 20px;
    border: 1px solid #b9d6e1;
    border-radius: 8px;
}

.content {
    padding: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6
    font-size: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0,1);
    flex: 1;
    width: 100%;
}

.content h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1a5a9b;
}

.content h3 {
    font-size: 1.3rem;
    margin: 1.5rem 0 0.8rem;
    color: #0059b3;
}

.content p {
    margin-bottom: 1rem;
    font-size: 1.05rem;
}


.intro {
    font-style: italic;
    color: #555;
    margin-bottom: 1.5rem;
}

.animal-section {
    margin-bottom: 1.5rem;
}

.content ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.content ol {
    padding-left: 1.5rem;
    margin: 0.8rem 0;
}

.content li {
    margin-bottom: 0.4rem;
}


.footer {
    text-align: center;
    padding: 15px 0;
    color: rgb(163, 194, 203);
    font-size: 0,9rem;
    border-top: 1px solid #95b6be;
    margin-top: auto;
}

@media (max-width: 600px) {
    .content {
        padding: 1.2rem;
    }

    .content h1 {
        font-size: 1.6rem;
    }

    .content h3 {
        font-size: 1.3rem;
    }

    .content p {
        font-size: 1.5rem;
    }
}
